MONGO_URI=mongodb://localhost:27017/iyyaDB
PORT=5000

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Note for Production: Never commit your actual keys here!
