@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-animated-gradient {
    background-size: 200% 200%;
    animation: gradientMove 15s ease infinite;
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  font-family: 'Inter', sans-serif;
  color: #334155;
  background-color: #F8FAFC;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
